/Book.class
/Building.class
/Course.class
/Data.class
/Lesson.class
/Mark.class
/Message.class
/News.class
/Request.class
/ResearchPaper.class
/Room.class
/Schedule.class
/School.class
/Time.class
/Transcript.class
